<!-- Page Content -->
<div id="content" class="grey-blue login">

  <!-- Toolbar -->
  <div id="toolbar" class="tool-login primary-color animated fadeindown"></div>

  <!-- Main Content -->
  <div class="login-form animated fadeinup delay-2 z-depth-1">

    <h1>Login</h1>
    <div class="input-field">
      <i class="ion-android-contact prefix"></i>
      <input class="validate" id="login" type="text">
      <label for="login">Username</label>
    </div>

    <div class="input-field" style="margin-bottom:20px;">
      <i class="ion-android-lock prefix"></i>
      <input class="validate" id="login-psw" type="password">
      <label for="login-psw">Password</label>
    </div>

    <a class="waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" routerLink="/dashboard" routerLinkActive="active">Login</a>

  </div><!-- End of Main Contents -->


</div> <!-- End of Page Content -->
