<div class="BodyPadding">
  <div class="d-flex justify-content-end">
    <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent mr-auto p-2" routerLink="/createproject" routerLinkActive="active">
      create new Project
    </button>-->
  </div>

  <h1>Project Details</h1>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
    <input class="mdl-textfield__input" type="text" id="sample1" [(ngModel)]="projectName" name="projectName"/>
    <label class="mdl-textfield__label" for="sample1">Project Name</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
    <input class="mdl-textfield__input" type="text" id="sample2" [(ngModel)]="projectLocation"
           name="projectLocation"/>
    <label class="mdl-textfield__label" for="sample2">Project location</label>
  </div>


  <h1>Project Expense</h1>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label" *ngFor="let item of inputFields; let i = index;">
      <input class="mdl-textfield__input" type="number" [(ngModel)]="item.value" />
      <label class="mdl-textfield__label" >{{item.name}}</label>
    </div>

  <br>



  <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
    <input class="mdl-textfield__input" type="text" [(ngModel)]="newInputField" />
  </div>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addInputField()" [disabled]="!newInputField">
    <i class="material-icons">add</i>
  </button>

  <h1>Report : Project Details</h1>

  <div class="col-sm-6">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Project Name</th>
        <th>Project location</th>
      </tr>
      </thead>
      <tbody>


      <tr *ngFor="let item of db_pull_projectsName; let i = index;">
        <td (click)="projectDetails(i)" class="mdl-data-table__cell--non-numeric" >{{item.project_name}}</td>
        <td (click)="projectDetails(i)">{{item.project_location}}</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <h1>Report : Project Expense</h1>


    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>

      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of copy_db_pull_projectsDetails; let i = index;">
        <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
        <td>{{item.value}}</td>
      </tr>

      </tbody>
    </table>
  </div>
<br/>
  <button
    class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent mr-auto p-2"
    (click)="sum()">Total
  </button>
  <br/>
  <h1>TOTAL EXPENSE ON PROJECT = {{total}}</h1>

  <br/>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mr-auto p-2"
    (click)="saveProjectToDatabase()" [disabled]="!projectName || !projectLocation">Save Project To DataBase
  </button>
  <!--[disabled]="!tileWork || !plasterExternal || !plasterInternal || !blockMasonary || !colourWork || !plumber || !mixCrushReti
  || !electricExpense || !shatringContractPrice || !generalLabour  || !khudaie || !stealContractPrice || !total"-->


  <br/><br/><br/>

</div>
